.columnTwo
{
  float:left;
  padding: 0 10px 0 0;
  width:190px;
/*  border:1px solid;*/
}

.columnThird
{
  float: left;
  width: 225px;
}

.columnFive
{
  float:left;
  width:500px;
}

.columnThird:first-child
{
  float: left;
  width: 225px;
  margin: 0 15px 0 0;
}

.columnThird:last-child
{
  float: left;
  width: 225px;
  margin: 0 0 0 15px;
}

#portfolioList li
{
  list-style: none;
	display: inline;
	float: left;/*--------------------not sure why this is needed to keep these in the same line-------*/
	margin: 0 15px 0 0;
	border:1px solid;
}

/*specify size of images so it wont screw things up if they go missing*/
#portfolioList li a img
{
  height: 65px;
  width: 65px;
}

#portfolioList li p
{
  float:right;
  width: 100px;
}

/*
#portfolioList li:first-child
{
  margin: 0 15px 0 0;
}
*/
#portfolioList li:last-child
{
  margin: 0;
}

a img
{
  margin: 0;
  border: none;
}