/*
	Justin Alexander Ratcliffe
*/

*{
	margin:0;
	padding:0;
/*  border:1px solid;*/
}

/*-- BEGIN General Rules --*/
body
{
  width: 900px; /*867px; (width of container + 15px gutter) + (width of nav images + 2*1px margin) = width of body*/
/*  margin: 0 auto; this will make it float in the center...making it look a little weird and screws up w/scroll absent/present*/
  margin: 0 0 0 10px;
  padding:175px 0 0 0;
	font-size: 62.5%; /*  Sets 1em to 10px */
	font-family: "Helvetica Neue", Helvetica, "Frutiger", "Univers" Arial, Verdana, sans-serif;
	line-height:1.8em;
/*  background-image: url(img/grid.png);*/
}

/*
  font is 25 which means there's another ~12 on top&bottom so put half of that
  (12) as padding on top & bottom to center it in the cell
*/
h1
{
/*  font: bold 1.5em arial;*/
  padding: 13px 0 13px 0;
  font-size: 25px;
  margin-bottom: 15px;
}

h2
{
/*  font: 1em arial;*/
  font-size: 18px;
  padding-bottom:2px;
  margin-bottom:15px;
  border-bottom: 2px solid #4a4a4a;
}

h3
{
  font-size: 16px;
  margin-bottom:10px;
  border-bottom: 1px solid #4a4a4a
}

h4
{
  font-size: 12px;
}

p
{
  color: #000000;
  font-size: 1.3em;
  line-height: 1.25em;
  margin: 0 0 12px 0;
}

p span
{
  font-weight: bold;
}

a
{
  color: #000000;
  font-weight:bold;
  text-decoration: none;
  background-color: transparent;
}

/*END General Rules*/

img
{
  border:solid 1px #4a4a4a;
}

/*want thumbnails to float in text*/
img.thumbnail
{
  float:left;
  margin:0 10px 10px 0;
}



/*BEGIN divs*/

#headerContainer
{
  height: 100px;
  width: 800px;
  background:#ffffff;
  background-image: url(img/title.png);
  background-repeat: no-repeat;
  position:absolute;
  top:0;
  position: fixed;
}

/*.header:hover--------------------don't need this if i have the nav
{
  background-image: url(img/title_hover.png);
}*/

.container
{
/*  float: right; /*containers floats on the right of the body and nav on left*/*/
  width: 900px;/*----------------------------------change 705*/
/*  padding-left: 15px;*/
  margin: 0 auto;
}

/*
  min-height dependant upon .conatiner's
*/
#content
{
/*  height:1000px;*/
  width:800px;
/*  height:100%;*/
  overflow:auto;
}

/*.navigation ul
{
  width: 785px;
  margin-top: 65px;
  border: 1px solid;
}*/

#filler
{
  height:15px;
  background:#ffffff;
  position:relative;
  top:100%;
  border-bottom:1px solid #4a4a4a;
}

#navigation
{
/*  margin:75px 0 0 0;*/
/*  background:#ffffff;*/
  position:relative;
  top:100%;
  border:1px solid #ffffff;
}

ul#navigation 
{
  border-bottom: 3px solid #4a4a4a;
  width:800px;
  background:#ffffff;
}

#navigation li
{
  margin-top: 65px;
  list-style: none;
	display: inline;
  padding:0 35px 0 0;
  font-size: 14px;
/*  color:#1a1a1a;*/
/*  border-right:1px solid #ffffff;*/
}

#navigation li a
{
/*  color:#ffffff;*/
}

.section
{
  float:left;
  width:800px;
  margin: 0 0 50px 0;
}

.columnOne
{
  float:left;
  padding: 0 10px 0 0;
  width:100px;
  height:100%;
}
.columnTwo
{
  float:left;
  padding: 0 10px 0 0;
  width:190px;
/*  border:1px solid;*/
}
.columnThree
{
  float:left;
  padding:0 10px 0 0;
  width:290px;
/*  border:1px solid;*/
}
.columnFive
{
  float:left;
  padding: 0 10px 0 0;  
  width:490px;
}

.columnSix
{
  float:left;
  padding: 0 10px 0 0;
  width:590px;
}

.footer
{
  height: 30px;
  width: 800px;
  background: #000000;
  position: relative;
  clear: both;
}

.floatRight
{
  float:right;
}
/*END divs*/