/*
	Justin Alexander Ratcliffe
*/

*{
	margin:0;
	padding:0;
/* 	border: 1px solid #dee4c7;<-------------Uncomment to view grid*/
}

/*-- BEGIN General Rules --*/
body
{
	background: #e7edbc;
	background-repeat: repeat;
	margin-top: 15px;
	font-size: 62.5%;
}

p
{
	font: 1.3em/1.4em "Lucida Grande"; /*font is 1.3 spacing is for 1.4*/
	text-indent: 0;/*don't want the first line indented*/
	margin: 1em 0 0 .5em; /*space b/t paragraphs and indent*/
}

h1
{
	font: 2em Garamond;
	font-weight: bold;
	text-align: center;
	margin: 0 0 1em 0;
}

h2
{
	font: 18pt Garamond;
	line-height: 75%;
	margin: 0 0 5px 0;
}

h3
{
	font: 1.4em "Lucida Grande"; /*font is 1.3 spacing is for 1.4*/
	line-height: 75%;
	margin: 1em 0 0 0;
}

img
{
	border: 1px solid #d0d0d0;
}

/*-- END General Rules --*/

/*-- BEGIN Grid Rules --*/
.floatRight
{
	float: right;
}

.floatLeft
{
	float: left;
}

.container
{
/*	background: #ffffff;*/
	background-color: #ffffff;
	background-image: url(bg.png);
	background-repeat: no-repeat;
	background-position: "top right";
	border: 1px solid #159142;
	padding: 0 15px 0px 15px;
	margin: 0 auto;
	width: 831px;
	min-height: 1425px;
}

.columnSingle
{
	width: 267px; /*260*/
	text-align: justify;
	margin: 0 0 10px 0;	/*Give a little breathing room between sections*/
}

.columnDouble
{
	width: 534px; /*560*/
	margin: 0 0 10px 0;	/*Give a little breathing room between sections*/
}

.columnTriple
{
	width: 831px;
	margin: 0 0 10px 0;	/*Give a little breathing room between sections*/
}

.columnText
{
}

.columnText#columnLeft
{
	width: 250px;
	float: left;
	text-align: left;
}

.columnText#columnRight
{
	width: 250px;
	float: right;
	text-align: left;
	margin: 15px 0 48px 0; /*gotta add a bottom margin to fix floating below it*/
}

.columnText#columnRight p
{
	margin: 0;
}

.linkList
{
	width: 240px;
	border: 1px solid #e7edbc;
	margin: 15px 0 40px 0;
	padding: 0; /*10px 10px;*/
	float: right;
}

.linkList h3
{
	font: 1.4em "Lucida Grande";
	text-indent: 1em;
	line-height: normal;
	color: #ad261e;
	margin: .5em 0 .3em 0; /*first element in the linklist is going to be a h3 so make the bottom margin same as bottom margin of li (last element)*/
}

.linkList ul
{
	list-style: none;
/*	margin: 0 0 .5em 0;*/
}

.linkList li
{
	font: 1.1em "Lucida Grande";
	margin: .8em 0 .5em 03em; /*last element in the linklist is going to be an li so make the bottom margin same as top margin of h3 (1st element)*/
}

.linkList li a
{
	color: #000000;
	text-decoration: none;
}

.linkList li a:hover
{
	color: #185366;
}

.linkList p
{
	font: 1.2em/1.5em "Lucida Grande";
	text-indent: 0;
	padding: 10px;
}
/*-- END Grid Rules --*/

/*-- BEGIN Header Rules --*/
.header
{
	margin: 15px 0 100px 0;
}

.header a
{
	border-style: none;
}

.header a img
{
	border-style: none;
}
/*-- END Header Rules --*/

/*-- BEGIN Image Rules --*/
.image
{
	margin: 0;
}

#panoramic
{
	margin: 0 0 0 15px;
}

.chartSection
{
	height: 115px;
}

img#chart
{
	margin: 5px 0 0 29px;
	border: none;
}

img#chartKey
{
	margin: 45px 0 0 20px;
	border: none;
}

a img.ref
{
	margin: 0;
	padding: 0;
}

a img:hover.ref
{
	background:#c2c2c2;
}

.small
{
	margin: 0 0 10px 10px;	/*small images will float in text so give them som breathing room*/
}

/*-- BEGIN External Media Rules --*/
#streetView
{
/*	margin: 10px;*/
	margin: 1em 0 0 .5em; /*space b/t paragraphs and indent*/
}

.flickr
{
	/*border: none;*/
	margin: 60px 0 0 0;
}
/*-- END External Media Rules --*/


