#navList
{
  margin: 200px 0 0 0;
  float: left;
/*	text-align: center;*/
}

#navList li
{
	list-style: none;

}

#navList li a
{
	text-decoration: none;
}

#navList li a:hover
{
  
}

#navList li#active a
{
  
}