.container
{
	min-height: 1130px;
}
dl
{
	font: 1em "Lucida Grande"; /*font is 1.3 spacing is for 1.4*/
	margin: 10px 0 0 15px;
}

dt
{
	font: 1.5em "Lucida Grande"; /*font is 1.3 spacing is for 1.4*/
}

dd
{
	font: 1.2em "Lucida Grande";
	margin: 0 0 10px 15px;
}


/*-- BEGIN External Media Rules --*/
#googleMaps
{
/*	margin: 10px;*/
	margin:  0 0 1em 1.5em; /*space b/t paragraphs and indent*/
}
/*-- END External Media Rules --*/